In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import statsmodels.api as sm
from sklearn.metrics import r2_score
from sklearn.linear_model import Lasso
from sklearn.preprocessing import StandardScaler
import math

In [2]:
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 20)
pd.set_option('display.max_colwidth', 50)
pd.set_option('display.precision', 4)
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [3]:
#TODO: When pulling data, edit path variable
path = '/Users/admin/fin427/project1/'

# Import data and create a quarter variable for alignment with quarterly financial information
returns = pd.read_excel(path + 'Excel03 Data 20230128.xlsx', sheet_name='ret06')
returns1 = returns
returns1['quarter'] = returns1['month'] + pd.offsets.QuarterEnd(0)
print(returns1.head(6))
print(returns1.columns)

   PERMNO       DATE     CUSIP                        COMNAM TICKER  PERMCO  \
0   50906 1995-01-31  00088630  A D C TELECOMMUNICATIONS INC   ADCT    2902
1   50906 1995-02-28  00088630  A D C TELECOMMUNICATIONS INC   ADCT    2902
2   50906 1995-03-31  00088630  A D C TELECOMMUNICATIONS INC   ADCT    2902
3   50906 1995-04-28  00088630  A D C TELECOMMUNICATIONS INC   ADCT    2902
4   50906 1995-05-31  00088630  A D C TELECOMMUNICATIONS INC   ADCT    2902
5   50906 1995-06-30  00088630  A D C TELECOMMUNICATIONS INC   ADCT    2902

   SHRCD     VOL      RET     RETX  ...  d_4802_Finance_NEC  d_4803_Insurance  \
0     11   34941 -0.02000 -0.02000  ...                   0                 0
1     11   60361  0.13776  0.13776  ...                   0                 0
2     11   87371  0.05830  0.05830  ...                   0                 0
3     11   78824  0.11864  0.11864  ...                   0                 0
4     11   95578 -0.06061 -0.06061  ...                   0                 0
5     11  119561  0.15323  0.15323  ...                   0                 0

   d_4885_Real_Estate_Dev  d_4890_REIT d_4900_Communications  \
0                       0            0                     0
1                       0            0                     0
2                       0            0                     0
3                       0            0                     0
4                       0            0                     0
5                       0            0                     0

   d_6000_Miscellaneous  numrets   retadj abretadj    quarter
0                     0      191 -0.02000 -0.03048 1995-03-31
1                     0      191  0.13776  0.08537 1995-03-31
2                     0      191  0.05830  0.04091 1995-03-31
3                     0      191  0.11864  0.09857 1995-06-30
4                     0      191 -0.06061 -0.08471 1995-06-30
5                     0      191  0.15323  0.11251 1995-06-30

[6 rows x 62 columns]
Index(['PERMNO', 'DATE', 'CUSIP', 'COMNAM', 'TICKER', 'PERMCO', 'SHRCD', 'VOL',
       'RET', 'RETX', 'SHROUT', 'VWRETD', 'VWRETX', 'price', 'month', 'mc',
       'lnmc', 'lag1cusip', 'lag1month', 'lag1mc', 'lag1lnmc', 'bmret',
       'abret', 'ISIN', 'cusip9', 'FSESNum', 'FSISNum', 'FSESName', 'FSISName',
       'MLIC', 'MLIL', 'Group', 'd', 'name', 'd_1100_Non_Energy_Minerals',
       'd_1200_Producer_Manufacturing', 'd_1300_Electronic_Technology',
       'd_1400_Consumer_Durables', 'd_2100_Energy_Minerals',
       'd_2200_Process_Industries', 'd_2300_Health_Technology',
       'd_2400_Consumer_Non_Durables', 'd_3100_Industrial_Services',
       'd_3200_Commercial_Services', 'd_3250_Distribution_Services',
       'd_3300_Technology_Services', 'd_3350_Health_Services',
       'd_3400_Consumer_Services', 'd_3500_Retail_Trade',
       'd_4600_Transportation', 'd_4700_Utilities', 'd_4801_Banks',
       'd_4802_Finance_NEC', 'd_4803_Insurance', 'd_4885_Real_Estate_Dev',
       'd_4890_REIT', 'd_4900_Communications', 'd_6000_Miscellaneous',
       'numrets', 'retadj', 'abretadj', 'quarter'],
      dtype='object')

In [4]:
sales = pd.read_excel(path + 'SP400_Sales_20230131.xlsx', sheet_name='Sales')
sales1 = sales
sales1 = sales1.dropna()
sales1 = sales1[sales1['Sales/Turnover (Net)'] > 0]
sales1['sales'] = sales1['Sales/Turnover (Net)']
sales1['quarter'] = sales1['Data Date'] + pd.offsets.QuarterEnd(0)
sales1['leadquarter'] = sales1['quarter'] + pd.offsets.QuarterEnd(1)
sales1['lnsales'] = np.log(sales1['sales']*1000)
univ_sales = sales1.sales.describe()
univ_lnsales = sales1.lnsales.describe()
sales1['cusip8'] = sales1['CUSIP'].str[0:8]
print(univ_sales)
print(univ_lnsales)
print(sales1.head(50))
print(sales1.columns)
print(sales1)

count   108646.00000
mean      1994.09869
std       5774.02505
min          0.00100
25%        265.24175
50%        733.04850
75%       1889.35075
max     263966.00000
Name: sales, dtype: float64
count   108646.00000
mean        13.40562
std          1.59087
min          0.00000
25%         12.48840
50%         13.50497
75%         14.45174
max         19.39133
Name: lnsales, dtype: float64
    Global Company Key  Data Date  Fiscal Year  Fiscal Quarter  \
0                 1013 1994-01-31         1994         1.00000
4                 1013 1995-01-31         1995         1.00000
8                 1013 1996-01-31         1996         1.00000
9                 1013 1996-04-30         1996         2.00000
10                1013 1996-07-31         1996         3.00000
11                1013 1996-10-31         1996         4.00000
12                1013 1997-01-31         1997         1.00000
13                1013 1997-04-30         1997         2.00000
14                1013 1997-07-31         1997         3.00000
15                1013 1997-10-31         1997         4.00000
16                1013 1998-01-31         1998         1.00000
17                1013 1998-04-30         1998         2.00000
18                1013 1998-07-31         1998         3.00000
19                1013 1998-10-31         1998         4.00000
20                1013 1999-01-31         1999         1.00000
21                1013 1999-04-30         1999         2.00000
22                1013 1999-07-31         1999         3.00000
23                1013 1999-10-31         1999         4.00000
24                1013 2000-01-31         2000         1.00000
25                1013 2000-04-30         2000         2.00000
26                1013 2000-07-31         2000         3.00000
27                1013 2000-10-31         2000         4.00000
28                1013 2001-01-31         2001         1.00000
29                1013 2001-04-30         2001         2.00000
30                1013 2001-07-31         2001         3.00000
31                1013 2001-10-31         2001         4.00000
32                1013 2002-01-31         2002         1.00000
33                1013 2002-04-30         2002         2.00000
34                1013 2002-07-31         2002         3.00000
35                1013 2002-10-31         2002         4.00000
36                1013 2003-01-31         2003         1.00000
37                1013 2003-04-30         2003         2.00000
38                1013 2003-07-31         2003         3.00000
39                1013 2003-10-31         2003         4.00000
40                1013 2004-01-31         2004         1.00000
41                1013 2004-04-30         2004         2.00000
42                1013 2004-07-31         2004         3.00000
43                1013 2004-10-31         2004         4.00000
44                1013 2005-01-31         2005         1.00000
45                1013 2005-04-30         2005         2.00000
46                1013 2005-07-31         2005         3.00000
47                1013 2005-10-31         2005         4.00000
48                1013 2006-01-31         2006         1.00000
49                1013 2006-04-30         2006         2.00000
50                1013 2006-07-31         2006         3.00000
51                1013 2006-10-31         2006         4.00000
52                1013 2007-01-31         2007         1.00000
53                1013 2007-04-30         2007         2.00000
54                1013 2007-07-31         2007         3.00000
55                1013 2007-10-31         2007         4.00000

   Industry Format Level of Consolidation - Company Interim Descriptor  \
0             INDL                                                  C
4             INDL                                                  C
8             INDL                                                  C
9             INDL                                                  C
10            INDL                                                  C
11            INDL                                                  C
12            INDL                                                  C
13            INDL                                                  C
14            INDL                                                  C
15            INDL                                                  C
16            INDL                                                  C
17            INDL                                                  C
18            INDL                                                  C
19            INDL                                                  C
20            INDL                                                  C
21            INDL                                                  C
22            INDL                                                  C
23            INDL                                                  C
24            INDL                                                  C
25            INDL                                                  C
26            INDL                                                  C
27            INDL                                                  C
28            INDL                                                  C
29            INDL                                                  C
30            INDL                                                  C
31            INDL                                                  C
32            INDL                                                  C
33            INDL                                                  C
34            INDL                                                  C
35            INDL                                                  C
36            INDL                                                  C
37            INDL                                                  C
38            INDL                                                  C
39            INDL                                                  C
40            INDL                                                  C
41            INDL                                                  C
42            INDL                                                  C
43            INDL                                                  C
44            INDL                                                  C
45            INDL                                                  C
46            INDL                                                  C
47            INDL                                                  C
48            INDL                                                  C
49            INDL                                                  C
50            INDL                                                  C
51            INDL                                                  C
52            INDL                                                  C
53            INDL                                                  C
54            INDL                                                  C
55            INDL                                                  C

   Population Source Data Format      CUSIP ISO Currency Code  \
0                  D         STD  000886309               USD
4                  D         STD  000886309               USD
8                  D         STD  000886309               USD
9                  D         STD  000886309               USD
10                 D         STD  000886309               USD
11                 D         STD  000886309               USD
12                 D         STD  000886309               USD
13                 D         STD  000886309               USD
14                 D         STD  000886309               USD
15                 D         STD  000886309               USD
16                 D         STD  000886309               USD
17                 D         STD  000886309               USD
18                 D         STD  000886309               USD
19                 D         STD  000886309               USD
20                 D         STD  000886309               USD
21                 D         STD  000886309               USD
22                 D         STD  000886309               USD
23                 D         STD  000886309               USD
24                 D         STD  000886309               USD
25                 D         STD  000886309               USD
26                 D         STD  000886309               USD
27                 D         STD  000886309               USD
28                 D         STD  000886309               USD
29                 D         STD  000886309               USD
30                 D         STD  000886309               USD
31                 D         STD  000886309               USD
32                 D         STD  000886309               USD
33                 D         STD  000886309               USD
34                 D         STD  000886309               USD
35                 D         STD  000886309               USD
36                 D         STD  000886309               USD
37                 D         STD  000886309               USD
38                 D         STD  000886309               USD
39                 D         STD  000886309               USD
40                 D         STD  000886309               USD
41                 D         STD  000886309               USD
42                 D         STD  000886309               USD
43                 D         STD  000886309               USD
44                 D         STD  000886309               USD
45                 D         STD  000886309               USD
46                 D         STD  000886309               USD
47                 D         STD  000886309               USD
48                 D         STD  000886309               USD
49                 D         STD  000886309               USD
50                 D         STD  000886309               USD
51                 D         STD  000886309               USD
52                 D         STD  000886309               USD
53                 D         STD  000886309               USD
54                 D         STD  000886309               USD
55                 D         STD  000886309               USD

   Calendar Data Year and Quarter Fiscal Data Year and Quarter  \
0                          1993Q4                       1994Q1
4                          1994Q4                       1995Q1
8                          1995Q4                       1996Q1
9                          1996Q1                       1996Q2
10                         1996Q2                       1996Q3
11                         1996Q3                       1996Q4
12                         1996Q4                       1997Q1
13                         1997Q1                       1997Q2
14                         1997Q2                       1997Q3
15                         1997Q3                       1997Q4
16                         1997Q4                       1998Q1
17                         1998Q1                       1998Q2
18                         1998Q2                       1998Q3
19                         1998Q3                       1998Q4
20                         1998Q4                       1999Q1
21                         1999Q1                       1999Q2
22                         1999Q2                       1999Q3
23                         1999Q3                       1999Q4
24                         1999Q4                       2000Q1
25                         2000Q1                       2000Q2
26                         2000Q2                       2000Q3
27                         2000Q3                       2000Q4
28                         2000Q4                       2001Q1
29                         2001Q1                       2001Q2
30                         2001Q2                       2001Q3
31                         2001Q3                       2001Q4
32                         2001Q4                       2002Q1
33                         2002Q1                       2002Q2
34                         2002Q2                       2002Q3
35                         2002Q3                       2002Q4
36                         2002Q4                       2003Q1
37                         2003Q1                       2003Q2
38                         2003Q2                       2003Q3
39                         2003Q3                       2003Q4
40                         2003Q4                       2004Q1
41                         2004Q1                       2004Q2
42                         2004Q2                       2004Q3
43                         2004Q3                       2004Q4
44                         2004Q4                       2005Q1
45                         2005Q1                       2005Q2
46                         2005Q2                       2005Q3
47                         2005Q3                       2005Q4
48                         2005Q4                       2006Q1
49                         2006Q1                       2006Q2
50                         2006Q2                       2006Q3
51                         2006Q3                       2006Q4
52                         2006Q4                       2007Q1
53                         2007Q1                       2007Q2
54                         2007Q2                       2007Q3
55                         2007Q3                       2007Q4

    Sales/Turnover (Net) Active/Inactive Status Marker      sales    quarter  \
0               91.17600                             I   91.17600 1994-03-31
4              121.77400                             I  121.77400 1995-03-31
8              162.59100                             I  162.59100 1996-03-31
9              355.64400                             I  355.64400 1996-06-30
10             572.95700                             I  572.95700 1996-09-30
11             828.00900                             I  828.00900 1996-12-31
12             256.77700                             I  256.77700 1997-03-31
13             535.97600                             I  535.97600 1997-06-30
14             829.28800                             I  829.28800 1997-09-30
15            1164.45000                             I 1164.45000 1997-12-31
16             286.39600                             I  286.39600 1998-03-31
17             621.03100                             I  621.03100 1998-06-30
18             983.52700                             I  983.52700 1998-09-30
19            1379.67800                             I 1379.67800 1998-12-31
20             404.29400                             I  404.29400 1999-03-31
21             982.95200                             I  982.95200 1999-06-30
22            1517.70000                             I 1517.70000 1999-09-30
23            2151.80000                             I 2151.80000 1999-12-31
24             593.90000                             I  593.90000 2000-03-31
25            1364.50000                             I 1364.50000 2000-06-30
26            2255.90000                             I 2255.90000 2000-09-30
27            3287.90000                             I 3287.90000 2000-12-31
28             811.30000                             I  811.30000 2001-03-31
29            1463.70000                             I 1463.70000 2001-06-30
30            2011.20000                             I 2011.20000 2001-09-30
31            2402.80000                             I 2402.80000 2001-12-31
32             293.50000                             I  293.50000 2002-03-31
33             591.80000                             I  591.80000 2002-06-30
34             826.90000                             I  826.90000 2002-09-30
35            1047.70000                             I 1047.70000 2002-12-31
36             194.60000                             I  194.60000 2003-03-31
37             305.10000                             I  305.10000 2003-06-30
38             434.90000                             I  434.90000 2003-09-30
39             589.40000                             I  589.40000 2003-12-31
40             136.70000                             I  136.70000 2004-03-31
41             285.00000                             I  285.00000 2004-06-30
42             509.90000                             I  509.90000 2004-09-30
43             773.40000                             I  773.40000 2004-12-31
44             241.00000                             I  241.00000 2005-03-31
45             529.80000                             I  529.80000 2005-06-30
46             835.40000                             I  835.40000 2005-09-30
47            1129.40000                             I 1129.40000 2005-12-31
48             272.80000                             I  272.80000 2006-03-31
49             630.90000                             I  630.90000 2006-06-30
50             974.50000                             I  974.50000 2006-09-30
51            1281.90000                             I 1281.90000 2006-12-31
52             297.20000                             I  297.20000 2007-03-31
53             646.60000                             I  646.60000 2007-06-30
54             992.70000                             I  992.70000 2007-09-30
55            1322.20000                             I 1322.20000 2007-12-31

   leadquarter  lnsales    cusip8
0   1994-06-30 11.42055  00088630
4   1995-06-30 11.70992  00088630
8   1996-06-30 11.99899  00088630
9   1996-09-30 12.78169  00088630
10  1996-12-31 13.25857  00088630
11  1997-03-31 13.62678  00088630
12  1997-06-30 12.45596  00088630
13  1997-09-30 13.19184  00088630
14  1997-12-31 13.62832  00088630
15  1998-03-31 13.96776  00088630
16  1998-06-30 12.56513  00088630
17  1998-09-30 13.33914  00088630
18  1998-12-31 13.79890  00088630
19  1999-03-31 14.13736  00088630
20  1999-06-30 12.90990  00088630
21  1999-09-30 13.79832  00088630
22  1999-12-31 14.23271  00088630
23  2000-03-31 14.58182  00088630
24  2000-06-30 13.29447  00088630
25  2000-09-30 14.12630  00088630
26  2000-12-31 14.62906  00088630
27  2001-03-31 15.00576  00088630
28  2001-06-30 13.60639  00088630
29  2001-09-30 14.19648  00088630
30  2001-12-31 14.51424  00088630
31  2002-03-31 14.69215  00088630
32  2002-06-30 12.58963  00088630
33  2002-09-30 13.29092  00088630
34  2002-12-31 13.62544  00088630
35  2003-03-31 13.86211  00088630
36  2003-06-30 12.17870  00088630
37  2003-09-30 12.62839  00088630
38  2003-12-31 12.98287  00088630
39  2004-03-31 13.28686  00088630
40  2004-06-30 11.82554  00088630
41  2004-09-30 12.56024  00088630
42  2004-12-31 13.14197  00088630
43  2005-03-31 13.55855  00088630
44  2005-06-30 12.39255  00088630
45  2005-09-30 13.18025  00088630
46  2005-12-31 13.63567  00088630
47  2006-03-31 13.93720  00088630
48  2006-06-30 12.51649  00088630
49  2006-09-30 13.35490  00088630
50  2006-12-31 13.78968  00088630
51  2007-03-31 14.06385  00088630
52  2007-06-30 12.60216  00088630
53  2007-09-30 13.37948  00088630
54  2007-12-31 13.80818  00088630
55  2008-03-31 14.09481  00088630
Index(['Global Company Key', 'Data Date', 'Fiscal Year', 'Fiscal Quarter',
       'Industry Format',
       'Level of Consolidation - Company Interim Descriptor',
       'Population Source', 'Data Format', 'CUSIP', 'ISO Currency Code',
       'Calendar Data Year and Quarter', 'Fiscal Data Year and Quarter',
       'Sales/Turnover (Net)', 'Active/Inactive Status Marker', 'sales',
       'quarter', 'leadquarter', 'lnsales', 'cusip8'],
      dtype='object')
        Global Company Key  Data Date  Fiscal Year  Fiscal Quarter  \
0                     1013 1994-01-31         1994         1.00000
4                     1013 1995-01-31         1995         1.00000
8                     1013 1996-01-31         1996         1.00000

In [5]:
# Set rolling day window size 
rollingAmt = 15

In [7]:
#Create Measure for Momentum where we only consider direction of momentum, no magnitude 
dailyReturns = pd.read_csv(path + 'dailyPrices.csv')
dailyReturns['RET'] = pd.to_numeric(dailyReturns['RET'], errors='coerce')
dailyReturns['UpDays'] = np.where(dailyReturns['RET'] >= 0, 1, 0)
dailyReturns['DownDays'] = np.where(dailyReturns['RET'] < 0, 1, 0)
dailyReturns['UpDownRatio'] = dailyReturns['UpDays'].rolling(rollingAmt).mean() / dailyReturns['DownDays'].rolling(rollingAmt).mean()
dailyReturns['RSI_noMag'] = 100 - 100 / ( 1 + dailyReturns['UpDownRatio'] )
dailyReturns["RSI_noMag"] = dailyReturns["RSI_noMag"].fillna(50)

# Shift momentum by one so that given days returns do not impact momentum 
dailyReturns['RSI_noMag'] = dailyReturns['RSI_noMag'].shift(-1)
dailyReturns = dailyReturns[:-1]
dailyReturns = dailyReturns.reset_index(drop=True)

/var/folders/36/nqq61ypd1tvg6r10cs7jqzbm0000gn/T/ipykernel_88211/1716386495.py:2: DtypeWarning: Columns (9,11) have mixed types. Specify dtype option on import or set low_memory=False.
  dailyReturns = pd.read_csv(path + 'dailyPrices.csv')

In [8]:
dailyReturns['UpVal'] = np.where(dailyReturns['RET'] >= 0, dailyReturns['RET'], 0)
dailyReturns['DownVal'] = np.where(dailyReturns['RET'] < 0, abs(dailyReturns['RET']), 0)
dailyReturns['RelativeStrength'] = dailyReturns['UpVal'].rolling(rollingAmt).mean() / dailyReturns['DownVal'].rolling(rollingAmt).mean()
dailyReturns['RelativeStrengthIndex'] = 100 - 100 / (1 + dailyReturns['RelativeStrength'])
dailyReturns["RelativeStrengthIndex"] = dailyReturns["RelativeStrengthIndex"].fillna(50)

In [9]:
#Combine Files
dailyReturns['Date']= pd.to_datetime(dailyReturns['adj-date'])
bigOne = returns1.merge(dailyReturns, how='left', left_on=['CUSIP', 'DATE'], right_on=['CUSIP', 'Date'])
bigOne.dropna(inplace = True)

In [16]:
combined1 = bigOne.merge(sales1, how='left', left_on=['CUSIP', 'quarter'], right_on=['cusip8', 'leadquarter'])
combined1.rename(columns={'sales': 'lag1sales', 'lnsales': 'lag1lnsales'}, inplace=True)
combined1.dropna(inplace = True)
print(combined1.head())
print(combined1.columns)
print(len(returns1.index))
print(len(sales1.index))
print(len(combined1.index))
print(combined1.lag1sales.describe(percentiles=[0.125, 0.875]))
print(combined1.lag1mc.describe(percentiles=[0.125, 0.875]))
print(combined1.lag1lnsales.describe(percentiles=[0.125, 0.875]))
print(combined1.lag1lnmc.describe(percentiles=[0.125, 0.875]))
print(combined1.retadj.describe(percentiles=[0.125, 0.875]))
print(combined1.bmret.describe(percentiles=[0.125, 0.875]))
print(combined1.abretadj.describe(percentiles=[0.125, 0.875]))

# Compute the correlation between lnsales and lag1lnmc
dfcorr = combined1[['lag1lnsales', 'lag1lnmc']].copy()
dfcorr.corr(method='pearson')

    PERMNO_x     DATE_x   CUSIP_x                      COMNAM_x TICKER_x  \
3      50906 1995-04-28  00088630  A D C TELECOMMUNICATIONS INC     ADCT
4      50906 1995-05-31  00088630  A D C TELECOMMUNICATIONS INC     ADCT
5      50906 1995-06-30  00088630  A D C TELECOMMUNICATIONS INC     ADCT
15     50906 1996-04-30  00088630  A D C TELECOMMUNICATIONS INC     ADCT
16     50906 1996-05-31  00088630  A D C TELECOMMUNICATIONS INC     ADCT

    PERMCO  SHRCD     VOL    RET_x     RETX  ...  ISO Currency Code  \
3     2902     11   78824  0.11864  0.11864  ...                USD
4     2902     11   95578 -0.06061 -0.06061  ...                USD
5     2902     11  119561  0.15323  0.15323  ...                USD
15    2902     11  126525  0.21739  0.21739  ...                USD
16    2902     11  133393  0.09524  0.09524  ...                USD

    Calendar Data Year and Quarter  Fiscal Data Year and Quarter  \
3                           1994Q4                        1995Q1
4                           1994Q4                        1995Q1
5                           1994Q4                        1995Q1
15                          1995Q4                        1996Q1
16                          1995Q4                        1996Q1

    Sales/Turnover (Net) Active/Inactive Status Marker  lag1sales  quarter_y  \
3              121.77400                             I  121.77400 1995-03-31
4              121.77400                             I  121.77400 1995-03-31
5              121.77400                             I  121.77400 1995-03-31
15             162.59100                             I  162.59100 1996-03-31
16             162.59100                             I  162.59100 1996-03-31

   leadquarter lag1lnsales    cusip8
3   1995-06-30    11.70992  00088630
4   1995-06-30    11.70992  00088630
5   1995-06-30    11.70992  00088630
15  1996-06-30    11.99899  00088630
16  1996-06-30    11.99899  00088630

[5 rows x 103 columns]
Index(['PERMNO_x', 'DATE_x', 'CUSIP_x', 'COMNAM_x', 'TICKER_x', 'PERMCO',
       'SHRCD', 'VOL', 'RET_x', 'RETX',
       ...
       'ISO Currency Code', 'Calendar Data Year and Quarter',
       'Fiscal Data Year and Quarter', 'Sales/Turnover (Net)',
       'Active/Inactive Status Marker', 'lag1sales', 'quarter_y',
       'leadquarter', 'lag1lnsales', 'cusip8'],
      dtype='object', length=103)
309269
108646
287763
count   287763.00000
mean      2013.96833
std       5735.10550
min          0.00600
12.5%      134.82700
50%        753.35200
87.5%     3662.28000
max     238228.00000
Name: lag1sales, dtype: float64
count      287763.00000
mean      4494547.82720
std      10184906.40646
min           234.50000
12.5%      473811.59773
50%       2071273.12566
87.5%     8144584.22481
max     816900024.41406
Name: lag1mc, dtype: float64
count   287763.00000
mean        13.46611
std          1.50885
min          1.79176
12.5%       11.81175
50%         13.53229
87.5%       15.11360
max         19.28874
Name: lag1lnsales, dtype: float64
count   287763.00000
mean        14.49701
std          1.29145
min          5.45746
12.5%       13.06857
50%         14.54367
87.5%       15.91286
max         20.52103
Name: lag1lnmc, dtype: float64
count   287763.00000
mean         0.01510
std          0.12563
min         -0.59007
12.5%       -0.09846
50%          0.01196
87.5%        0.12511
max          0.99552
Name: retadj, dtype: float64
count   287763.00000
mean         0.01071
std          0.05078
min         -0.21740
12.5%       -0.04274
50%          0.01468
87.5%        0.05955
max          0.14870
Name: bmret, dtype: float64
count   287763.00000
mean         0.00439
std          0.11365
min         -0.73190
12.5%       -0.09618
50%         -0.00020
87.5%        0.10277
max          1.06806
Name: abretadj, dtype: float64

             lag1lnsales  lag1lnmc
lag1lnsales      1.00000   0.63072
lag1lnmc         0.63072   1.00000

In [17]:
y1 = combined1['abretadj']
x = combined1[['lag1lnmc', 'lag1lnsales', 'RelativeStrengthIndex',
    'd_1100_Non_Energy_Minerals',
    'd_1200_Producer_Manufacturing',
    'd_1300_Electronic_Technology',
    'd_1400_Consumer_Durables',
    'd_2100_Energy_Minerals',
    'd_2200_Process_Industries',
    'd_2300_Health_Technology',
    'd_2400_Consumer_Non_Durables',
    'd_3100_Industrial_Services',
    'd_3200_Commercial_Services',
    'd_3250_Distribution_Services',
    'd_3300_Technology_Services',
    'd_3350_Health_Services',
    'd_3400_Consumer_Services',
    'd_3500_Retail_Trade',
    'd_4600_Transportation',
    'd_4700_Utilities',
    'd_4801_Banks',
    'd_4802_Finance_NEC',
    'd_4803_Insurance',
    'd_4885_Real_Estate_Dev',
    'd_4890_REIT',
    'd_4900_Communications']]
x1 = StandardScaler().fit_transform(x)
x = sm.add_constant(x)
x1 = sm.add_constant(x1)
model = sm.OLS(y1, x).fit()
# model = sm.OLS(y1, x1).fit()
print_model = model.summary()
ols_coef = model.params
ols_rsq  = model.rsquared
print(print_model)
print(f'R-squared: {model.rsquared:.4f}')
print(ols_coef)

                            OLS Regression Results
==============================================================================
Dep. Variable:               abretadj   R-squared:                       0.361
Model:                            OLS   Adj. R-squared:                  0.361
Method:                 Least Squares   F-statistic:                     6242.
Date:                Mon, 20 Feb 2023   Prob (F-statistic):               0.00
Time:                        15:03:00   Log-Likelihood:             2.8182e+05
No. Observations:              287763   AIC:                        -5.636e+05
Df Residuals:                  287736   BIC:                        -5.633e+05
Df Model:                          26
Covariance Type:            nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
const                            -0.1636      0.007    -24.536      0.000      -0.177      -0.151
lag1lnmc                         -0.0047      0.000    -25.914      0.000      -0.005      -0.004
lag1lnsales                       0.0007      0.000      4.242      0.000       0.000       0.001
RelativeStrengthIndex             0.0042   1.06e-05    400.740      0.000       0.004       0.004
d_1100_Non_Energy_Minerals        0.0068      0.007      1.045      0.296      -0.006       0.020
d_1200_Producer_Manufacturing     0.0033      0.006      0.509      0.611      -0.009       0.016
d_1300_Electronic_Technology      0.0074      0.006      1.140      0.254      -0.005       0.020
d_1400_Consumer_Durables          0.0040      0.007      0.615      0.539      -0.009       0.017
d_2100_Energy_Minerals            0.0067      0.007      1.035      0.300      -0.006       0.019
d_2200_Process_Industries         0.0023      0.006      0.348      0.728      -0.010       0.015
d_2300_Health_Technology          0.0067      0.006      1.041      0.298      -0.006       0.019
d_2400_Consumer_Non_Durables      0.0012      0.006      0.183      0.855      -0.012       0.014
d_3100_Industrial_Services        0.0056      0.007      0.866      0.386      -0.007       0.018
d_3200_Commercial_Services        0.0005      0.006      0.081      0.936      -0.012       0.013
d_3250_Distribution_Services      0.0007      0.007      0.109      0.913      -0.012       0.014
d_3300_Technology_Services        0.0050      0.006      0.779      0.436      -0.008       0.018
d_3350_Health_Services            0.0027      0.007      0.415      0.678      -0.010       0.016
d_3400_Consumer_Services          0.0026      0.006      0.401      0.688      -0.010       0.015
d_3500_Retail_Trade               0.0067      0.006      1.026      0.305      -0.006       0.019
d_4600_Transportation             0.0028      0.007      0.426      0.670      -0.010       0.016
d_4700_Utilities                 -0.0068      0.006     -1.049      0.294      -0.020       0.006
d_4801_Banks                      0.0003      0.006      0.043      0.966      -0.012       0.013
d_4802_Finance_NEC                0.0053      0.006      0.818      0.413      -0.007       0.018
d_4803_Insurance               4.142e-05      0.007      0.006      0.995      -0.013       0.013
d_4885_Real_Estate_Dev            0.0011      0.008      0.144      0.885      -0.014       0.017
d_4890_REIT                      -0.0032      0.006     -0.489      0.625      -0.016       0.010
d_4900_Communications             0.0025      0.007      0.372      0.710      -0.011       0.016
==============================================================================
Omnibus:                    98965.123   Durbin-Watson:                   2.055
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1628578.659
Skew:                           1.219   Prob(JB):                         0.00
Kurtosis:                      14.397   Cond. No.                     1.08e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.08e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
R-squared: 0.3606
const                           -0.16362
lag1lnmc                        -0.00471
lag1lnsales                      0.00072
RelativeStrengthIndex            0.00424
d_1100_Non_Energy_Minerals       0.00683
d_1200_Producer_Manufacturing    0.00330
d_1300_Electronic_Technology     0.00736
d_1400_Consumer_Durables         0.00400
d_2100_Energy_Minerals           0.00674
d_2200_Process_Industries        0.00226
d_2300_Health_Technology         0.00672
d_2400_Consumer_Non_Durables     0.00119
d_3100_Industrial_Services       0.00563
d_3200_Commercial_Services       0.00052
d_3250_Distribution_Services     0.00071
d_3300_Technology_Services       0.00504
d_3350_Health_Services           0.00271
d_3400_Consumer_Services         0.00260
d_3500_Retail_Trade              0.00665
d_4600_Transportation            0.00278
d_4700_Utilities                -0.00681
d_4801_Banks                     0.00028
d_4802_Finance_NEC               0.00532
d_4803_Insurance                 0.00004
d_4885_Real_Estate_Dev           0.00113
d_4890_REIT                     -0.00316
d_4900_Communications            0.00254
dtype: float64

In [ ]:
y1 = combined1['abretadj']
x = combined1[['lag1lnmc', 'lag1lnsales', 'RelativeStrengthIndex',
    'd_1100_Non_Energy_Minerals',
    'd_1200_Producer_Manufacturing',
    'd_1300_Electronic_Technology',
    'd_1400_Consumer_Durables',
    'd_2100_Energy_Minerals',
    'd_2200_Process_Industries',
    'd_2300_Health_Technology',
    'd_2400_Consumer_Non_Durables',
    'd_3100_Industrial_Services',
    'd_3200_Commercial_Services',
    'd_3250_Distribution_Services',
    'd_3300_Technology_Services',
    'd_3350_Health_Services',
    'd_3400_Consumer_Services',
    'd_3500_Retail_Trade',
    'd_4600_Transportation',
    'd_4700_Utilities',
    'd_4801_Banks',
    'd_4802_Finance_NEC',
    'd_4803_Insurance',
    'd_4885_Real_Estate_Dev',
    'd_4890_REIT',
    'd_4900_Communications']]
x1 = StandardScaler().fit_transform(x)
x1 = sm.add_constant(x1)
lasso = Lasso(alpha = 0.001)
lasso.fit(x1, y1)
lasso_coef = lasso.fit(x1, y1).coef_
lasso_score = lasso.score(x1, y1)
print(f'Lasso score: {lasso_score: .4f}')
print(lasso.intercept_)
print(lasso_coef)
print(x.columns)

In [98]:
y1 = combined1['abretadj']
x = combined1[['lag1lnmc','lag1lnsales', 'RSI', 
   'd_1100_Non_Energy_Minerals',
    'd_1200_Producer_Manufacturing',
    'd_1300_Electronic_Technology',
    'd_1400_Consumer_Durables',
    'd_2100_Energy_Minerals',
    'd_2200_Process_Industries',
    'd_2300_Health_Technology',
    'd_2400_Consumer_Non_Durables',
    'd_3100_Industrial_Services',
    'd_3200_Commercial_Services',
    'd_3250_Distribution_Services',
    'd_3300_Technology_Services',
    'd_3350_Health_Services',
    'd_3400_Consumer_Services',
    'd_3500_Retail_Trade',
    'd_4600_Transportation',
    'd_4700_Utilities',
    'd_4801_Banks',
    'd_4802_Finance_NEC',
    'd_4803_Insurance',
    'd_4885_Real_Estate_Dev',
    'd_4890_REIT',
    'd_4900_Communications']]
x1 = StandardScaler().fit_transform(x)
x = sm.add_constant(x)
x1 = sm.add_constant(x1)
model = sm.OLS(y1, x1).fit()
# model = sm.OLS(y1, x1).fit()
print_model = model.summary()
ols_coef = model.params
ols_rsq  = model.rsquared
print(print_model)
print(f'R-squared: {model.rsquared:.4f}')
print(ols_coef)

                            OLS Regression Results
==============================================================================
Dep. Variable:               abretadj   R-squared:                       0.103
Model:                            OLS   Adj. R-squared:                  0.103
Method:                 Least Squares   F-statistic:                     1269.
Date:                Mon, 20 Feb 2023   Prob (F-statistic):               0.00
Time:                        14:44:49   Log-Likelihood:             2.3308e+05
No. Observations:              287763   AIC:                        -4.661e+05
Df Residuals:                  287736   BIC:                        -4.658e+05
Df Model:                          26
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0044      0.000     21.877      0.000       0.004       0.005
x1            -0.0053      0.000    -18.926      0.000      -0.006      -0.005
x2             0.0021      0.000      6.926      0.000       0.002       0.003
x3             0.0359      0.000    178.263      0.000       0.036       0.036
x4             0.0019      0.001      1.648      0.099      -0.000       0.004
x5             0.0027      0.002      1.531      0.126      -0.001       0.006
x6             0.0054      0.002      2.356      0.018       0.001       0.010
x7             0.0020      0.001      1.451      0.147      -0.001       0.005
x8             0.0023      0.001      1.729      0.084      -0.000       0.005
x9             0.0015      0.002      0.986      0.324      -0.002       0.005
x10            0.0052      0.002      2.548      0.011       0.001       0.009
x11            0.0019      0.002      1.186      0.236      -0.001       0.005
x12            0.0025      0.001      1.725      0.084      -0.000       0.005
x13            0.0021      0.002      1.376      0.169      -0.001       0.005
x14            0.0014      0.001      1.157      0.247      -0.001       0.004
x15            0.0048      0.002      2.339      0.019       0.001       0.009
x16            0.0019      0.001      1.561      0.118      -0.000       0.004
x17            0.0027      0.002      1.529      0.126      -0.001       0.006
x18            0.0033      0.002      1.879      0.060      -0.000       0.007
x19            0.0016      0.001      1.330      0.183      -0.001       0.004
x20            0.0001      0.002      0.085      0.932      -0.003       0.003
x21            0.0020      0.002      1.084      0.278      -0.002       0.006
x22            0.0028      0.001      1.942      0.052   -2.59e-05       0.006
x23            0.0018      0.001      1.270      0.204      -0.001       0.005
x24            0.0003      0.000      0.941      0.347      -0.000       0.001
x25            0.0013      0.002      0.740      0.459      -0.002       0.005
x26            0.0006      0.001      0.925      0.355      -0.001       0.002
==============================================================================
Omnibus:                    84274.545   Durbin-Watson:                   2.091
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1041133.823
Skew:                           1.059   Prob(JB):                         0.00
Kurtosis:                      12.074   Cond. No.                         49.6
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
R-squared: 0.1028
const    0.00439
x1      -0.00526
x2       0.00210
x3       0.03592
x4       0.00190
x5       0.00272
x6       0.00544
x7       0.00202
x8       0.00233
x9       0.00154
x10      0.00520
x11      0.00186
x12      0.00247
x13      0.00210
x14      0.00135
x15      0.00484
x16      0.00190
x17      0.00272
x18      0.00335
x19      0.00161
x20      0.00013
x21      0.00200
x22      0.00281
x23      0.00183
x24      0.00033
x25      0.00134
x26      0.00056
dtype: float64

In [99]:
bigOne.to_csv(path + "RSI_results.csv")